body{
	margin:0;			/* no margin or padding */
	padding:0;
	background:#000;   /* black background */
}

/*
	Clear
*/
.clear{
	clear:both;
}

/*
*	name: header
*   description: Grayish header bar.
*	NOT USED
*/
header{
	display:block;
	width:100%;
	height:50px;
	border-bottom:1px solid #000;
	background:#222;
	z-index:10;
}

/*
*	name: wrapper
*	NOT USED
*/
section#wrapper{
	position:absolute;
	display:block;
	width:100%;
	top:50px;
	bottom:50px;
}

/*
*	name: loader
*   description: Loading progressbar
*   cover whole screen
*/

#loader{
	position:absolute;
	display:block;
	background:rgba(0,0,0,.8);     /* background transparent black */
	right:0;						
	left:0;
	bottom:0;
	top:0;
	z-index:99;
}

/* progressbar-wrapper
*  desc: dark box in middle of screen that wraps around the actual loading-bar
*/

#progressbar-wrapper{
	position:relative;
	display:block;
	width:50%;
	min-width:400px;
	height:120px;
	margin:360px auto;
	background:#111;
}

/* progressbar
*  desc: placeholder for completed progress
*/

#progressbar{
	position:relative;
	display:block;
	width:95%;
	height:80px;
	top:20px;
	margin:0 auto;
	background:#0A0A0A;
	box-shadow: inset rgba(0,0,0,.6) 0 1px 2px,
			    rgba(255,255,255,.1) 0 1px 1px;
}

/* progressbar-completed
*  desc: the bar that's going to change
*  css3 animated with transition
*/

#progressbar-completed{
	position:relative;
	display:block;
	top:1px;
	height:77px;
	width:0%;
	border-top: 1px solid #00A1FF;
	background:#006FB0;
	-webkit-transition: width 0.1s ease-in-out;
	-ms-transition: width 0.1s ease-in-out;
	-moz-transition: width 0.1s ease-in-out;
	-o-transition: width 0.1s ease-in-out;
	transition: width 0.1s ease-in-out;
}

#progressbar-status{
	position:relative;
	display:block;
	margin-top:-60px;
	font-weight:bold;
	text-shadow:rgba(255,255,255,.15) 1px 1px 1px;
	font-size:40px;
	width:100%;
	text-align:center;
}

#progressbar, #progressbar-wrapper, #progressbar-completed{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#login{
	position:absolute;
	display:none;
	top:0;
	bottom:0px;
	right:0;
	left:0;
	background: url('images/SpaceBackground2.png');
}

h1.title{
	position:relative;
	display:table;
	margin:2% auto;
	font-size:80px;
	color:#00819E;
	text-shadow: rgba(0,208,255,1) -1px -1px 1px,
				 rgba(0,70,84,1) 1px 1px 1px;
}

h2{
	padding:4px 1px;
	margin:0;
	text-shadow:rgba(255,255,255,0.08) 1px 1px 1px;
}

.image-placeholder{
	width:340px;
	height:200px;
	border:1px solid #000;
	border-radius:3px;
	box-shadow:rgba(0,200,255,0.4) 0 0 10px;
}

.image-placeholder > img{
	width:100%;
	height:100%;
}

.box-wrapper{
	position:relative;
	display:block;
	margin:0 auto 0 auto;
	padding:20px 20px 20px 20px;
	width:660px;
	height:auto;
	background:#222;
	box-shadow:rgba(0,0,0,.5) 0 0 5px;
	border: 1px solid #080808;
	border-top:1px solid #444;
	border-radius: 4px;
}


.left-column{
	float:left;
	margin:0 20px 0 0;
}

.right-column{
	float:left;
	margin:0 0 0 20px;
}

.separator{
	background:#333;
	box-shadow:rgba(0,0,0,.8) 0 -1px 1px;
	margin-bottom: 20px;
	width:100%;
	height:1px;
}

.vertical-separator{
	float:left;
	background:#333;
	box-shadow:rgba(0,0,0,.8) -1px 0 1px;
	width:1px;
	height:80%;
}

label.label{
	position:relative;
	display:block;
	text-shadow:rgba(255,255,255,0.08) 1px 1px 1px;
	font-weight:bold;
	margin: 10px 10px 2px 1px;
}

.text-box{
	position:relative;
	padding:2px 5px;
	background:#111;
	width: 250px;
	height:25px;
	border:none;
	border-radius:3px;
	outline:none;
	color:#009ec3;
	text-shadow:rgba(0,0,0,0.8) -1px -1px 1px;
	box-shadow: inset rgba(0,0,0,.5) 0 0 4px,
				inset rgba(0,0,0,0.7) 0 1px 4px,
				rgba(255,255,255,0.1) 0px 1px 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.text-box:focus{
	color:#00D0FF;
	background:#222;
	box-shadow: inset rgba(0,0,0,.5) 0 0 4px,
				inset rgba(0,0,0,0.7) 0 1px 4px,
				rgba(255,255,255,0.1) 0px 1px 1px,
				rgba(0,200,255, 0.5) 0 0 9px;
}

input::-webkit-input-placeholder {
    color:    #666;
}
input:-moz-placeholder {
    color:    #666;
}
input:-ms-input-placeholder {
    color:    #666;
}

.button.submit{
	position:relative;
	display:block;
	padding:10px 50px;
	margin:20px auto;
	font-size:20px;
	background:#25A504;
	cursor:pointer;
	border:none;
	border-radius:3px;
}

.button.submit.green{
	border-top:1px solid #35DD06;
	background:#25A504;
}

.button.submit:active{
	border-top:none;
	box-shadow: inset rgba(0,0,0,1) 1px 1px 2px, inset rgba(0,0,0,1) -1px -1px 2px;
	border-bottom:1px solid #666;
}


#hud{
	position:absolute;
	display:none;
	top:0;
	bottom:0px;
	right:0;
	left:0;
}

#weapons{
	position:absolute;
	display:block;
	margin:200px 0 0 0;
}

#weapons > .weapon-box{
	position:relative;
	display:block;
	height:50px;
	width: 80px;
	background:rgba(0,0,0,.8);
	margin:20px 10px 0 10px;
	border:10px solid #333;
	border-radius:10px;
}

#weapons > .weapon-box.active{
	margin-top:70px;
	background:rgba(0,80,109,.5);
	height:60px;
	width: 180px;
	border:10px solid #00BDF4;
	border-top:10px solid #28B4FF;
	border-bottom:20px solid #00BDF4;
}

#weapon-bars{
	position:absolute;
	width: 200px;
	height:63px;
	left:25px;
	bottom:0;
}

#energy-bar-completed{
	border-top: 1px solid #00BBFF;
	background:#00A2DD;
}

#vitals-bars{
	position:absolute;
	width: 200px;
	height:100px;
	right:25px;
	bottom:0;
}

.v-bar{
	position:relative;
	display:block;
	width:100%;
	height:25px;
	margin-bottom: 12px;
	background:#0A0A0A;
	border-radius:4px;
	box-shadow:inset rgba(0,0,0,.6) 0 1px 2px, rgba(255,255,255,.1) 0 1px 1px;
}

.completed-bar{
	position:relative;
	display:block;
	top:1px;
	height:22px;
	width:100%;
	border-top: 1px solid #00A1FF;
	background:#006FB0;
	border-radius:4px;
	-webkit-transition: width 0.5s ease-in-out;
	-ms-transition: width 0.5s ease-in-out;
	-moz-transition: width 0.5s ease-in-out;
	-o-transition: width 0.5s ease-in-out;
	transition: width 0.5s ease-in-out;
}


.status-bar-text{
	position:relative;
	display:block;
	margin-top:-20px;
	font-weight:bold;
	text-shadow:rgba(255,255,255,.15) 1px 1px 1px;
	font-size:14px;
	width:100%;
	text-align:center;
}

#health-bar-completed{
	border-top: 1px solid #FF0000;
	background:#BF0000;
}

#shield-bar{
	
}

#health-bar{

}

#stage{
	position:absolute;
	display:block;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;
	padding:0;
	margin: 0;
	/*background:url("./images/background.png");*/
}

footer{
	position:absolute;
	display:block;
	width:100%;
	height:50px;
	bottom:0;
	border-top:1px solid #333;
	background:#222;
}